<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <property name="LOG_HOME" value="/Users/maeagle/parser/logs"/>
    <property name="maxFileSize" value="100MB"/>
    <property name="contentPattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{100} [%file:%line] - %msg%n"/>

    <property name="commonFileNamePattern" value="common-%d{yyyy-MM-dd}.%i.log"/>

    <!-- 通用日志输出 -->
    <appender name="COMMON_FILE_OUT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/common.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${commonFileNamePattern}</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>${maxFileSize}</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>${contentPattern}</pattern>
        </encoder>

    </appender>

    <!-- 控制台日志输出 -->
    <appender name="STD_OUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${contentPattern}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STD_OUT"/>
        <appender-ref ref="COMMON_FILE_OUT"/>
    </root>

</configuration>